html {
  box-sizing: border-box;
}

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
   text-align: center;
   background-color: whitesmoke;
   }

hr.solid {
  border-top: 3px solid #bbb;
  margin: 0px;
  }
img {
  width: 100%;
} 
/*Header & Navbar*/

header {
   font-size: 20px;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   display: inline;
   top: 0;
   margin: 0px;
   }

.navbar {
width: 100%;
}

.nav-logo {
  width: 100px;
}

@media only screen and (min-width: 700px) {
  .navbar-collapse {
    width: auto;
  }
}

/**Jumbotron**/

.jumbotron {
   width: 100%;
   font-size: 40px;
   padding: 0px;
   background-color: #214252;
   text-align: center;
   color:black;
   font-family: 'Oswald', sans-serif;
  }
.Mainlogo {
   width: 80%;
   object-fit: cover;
   object-position: center;
  }
.mainname {
  margin: 0px;
}
/*Main*/
main {
width: 100%;
padding: 0px 20px 0px;
}

h2 {
   font-size: 28px;
   font-weight: 400;
   text-align: left;
   text-decoration: none;
   text-align: center;
   }

/*photo*/
.photocard {
  flex-basis: 30%;
  border: 0px;
}
.Photo {
   border-radius: 6px;
   cursor: pointer;
   transition: 0.3s;
}
.Photo:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1400px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0.1)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
    width: 100%;
  }
}

.button {
   border: none;
   border-radius: 6px;
   color: white;
   padding: 10px 40px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 26px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   font-family: 'Teko', sans-serif;
 }
 
 .button {
   background-color: white; 
   color: black; 
   border: 2px solid black;
 }
 
 .button:hover {
   background-color: black;
   color: white;
   cursor: pointer;
 }

 @media screen and (max-width: 600px) {
   .button {
     font-size: 14px;
     padding: 12px 28px;
   }
 }

/*Video*/
#Videography {
  margin: auto;
  padding: auto;
  text-align: center;
}
.Video {
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.Video:hover {
 opacity: 0.7;
}

@media screen and (max-width: 400px) {
  .video {
    max-width: 200px;
    max-height: 100px;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .video {
    max-width: 300px;
    max-height: 150px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .video {
    max-width: 300px;
    max-height: 200px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .video {
    max-width: 400px;
    max-height: 300px;
  }
}
/*Contributor*/

*, *:before, *:after {
  box-sizing: inherit;
}
.row  {
  padding: auto;
}

.column {
  float: left;
  width: 50%;
  margin: auto;
  margin-bottom: 16px;
  padding: 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 40%;
  border-radius: 6px;
  margin: auto;
}

.container {
  padding: 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
  }
  .row{
    padding: 20px;
  }
  .card {
    width: 100%;
  }
}
@media screen and (min-width:800px) and (max-width:1200px) {
  .row{
    padding: 40px;
    padding-left: 100px;
  }
  .card {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: block;
  }
  .row{
    padding: 20px;
  }
  .card {
    width: 100%;
  }
  .profilecard {
    font-size: 12px;
  }
}
/*Contact*/

/*Footer*/

footer {
  padding: 15px 30px 10px;
  background-color: #db6400;
  font-size: 26px;
  max-width: 100%;
  clear: both;
  margin: 0px;
}
.solid {
  border-top: 3px solid #bbb;
  background-color: #bbb;
  width: 100%;
  }
 
  h4 {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin: 5px;
  }

   .fa:hover {
       opacity: 1;
   }
   .fa-envelope {
    font-size: 24px;
    background: transparent;
    color: white;
    text-decoration: none;
    margin: 0px 4px 0px;
  }
  .fa-twitter {
    font-size: 24px;
    background: transparent;
    color: white;
    text-decoration: none;
    margin: 0px 4px 0px;
  }
  .fa-instagram {
    font-size: 24px;
    background: transparent;
    color: white;
    text-decoration: none;
    margin: 0px 4px 0px;
  }
  .fa-linkedin {
    font-size: 24px;
    background: transparent;
    color: white;
    text-decoration: none;
    margin: 0px 4px 0px;
  }
  .shutterstock {
    width: 24px;
    text-decoration: none;
    margin: 0px 4px 0px;
    position: relative;
    bottom: 2px;
  }
